* {
    color: rgb(15, 97, 97);
}

h2,
h3,
h4 {
    color: yellow;
}

h5 {
    color: rgb(170, 205, 235);
}

#di {
    color: brown;
}

.red {
    color: red;
}

.green.green1 {
    color: rgb(22, 196, 22);
}

div span {
    color: blueviolet;
}

.father .child {
    color: orange;
}


[href] {
    color: rgb(250, 13, 230)
}

div p:last-child {
    color: rgb(252, 0, 0);
    font-size: 18px;
}